{% extends "base.html" %} 
{% load static %}
{% block title %} My Blog {% endblock %} 
{% block css_file %} 
<link rel="stylesheet" href="{% static "blog/post.css" %}">
<link rel="stylesheet" href="{% static "blog/index.css"%}">
{% endblock %}
{%block content %}

<section id="welcome">
  <header>
    <img src="{% static "blog/images/coding guy.jpg"%}" alt="Zaid - Author of this blog" />
    <h2>Tech Time</h2>
  </header>
  <p>"Evolving Tech: Your Insider's Guide to Tomorrow's Innovations"
  </p>
</section>
<section id="latest-posts">
    <h2>Most Recent...</h2>

    <ul>
      {% for post in posts %}
      {% include "blog/includes/post.html"%}
      {% endfor %}
    </ul>
</section>
<section id="about">
    <h2>What i do?</h2>
    <p>
        I love programming, i love to help others and i enjoy exploring new technologies!
    </p>

</section>
<section id="subscribe">
  <h1>Subscribe to Mail list</h1>
  <form action="" method="POST">
  {% csrf_token %}
  {% for form_field in comment_form %}
  <div class="form-control {% if form_field.errors%}invalid{%endif%}">
    {{form_field.label_tag}}
    {{form_field}}
    {{form_field.errors}}
  </div>
  {% endfor %}
  {{subscription_form.as_p}}
  <button type="submit">Subscribe</button>
</form>


</section>
{% endblock %}
