{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {%block css_file%} {% endblock %}
</head>
<body>
    <!-- Main navigation for larger screens -->
    <header id="main-navigation">
      <h1><a href="{% url "starting-page"%}">Tech Time</a></h1>
      <nav>
        <a href="{% url "posts-page"  %}">All Posts</a>
        <a href="{% url "read-later" %}">Bookmarked</a>
        <a href="{% url 'subscription-page' %}">Subscription</a>
      </nav>
    </header>

    <!-- Small screen navigation -->
    <header id="small-screen">
      <div class="header">
        <h1><a href="{% url "starting-page"%}">Tech Time</a></h1>

        <!-- Burger icon for smaller screens -->
        <div class="burger-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </div>
      
      <!-- Navigation links (initially hidden) -->
      <div class="nav">
        <nav class="nav-links">
          <a href="{% url "posts-page"  %}">All Posts</a>
          <a href="{% url "read-later" %}">Bookmarked</a>
          <a href="{% url 'subscription-page' %}">Subscription</a>
        </nav>
      </div>
    </header>

    {%block content%} {% endblock %}

    <script>
      const burger = document.querySelector('.burger-icon');
      const nav = document.querySelector('.nav');

      // Event listener for burger menu toggle
      burger.addEventListener('click', () => {
        nav.classList.toggle('nav-active');
        burger.classList.toggle('toggle');
      });
    </script>
</body>
</html>
